<div class="contenidor">
    <h1>Bienvenido a la web app que recoge todos los datos relacionados con la pobreza en el mundo!</h1>
    <p> Aquí podrás encontrar tablas y gráficos con sus propios indicadores y filtros para que te sea más fácil
        visualizar y consultar los datos sobre la pobreza que hay actualmente en el mundo.
    </p>
    <br /><br />
    <h2>Porquè escoger esta web app para consultar los datos?</h2>
    <p>
        Somos una web app muy concienciada con el impacto que está teniendo en nuestro mundo la pobreza,
        para poder hacer llegar estos datos a todo el mundo, nuestro equipo de desarrolladores web han desarrollado
        un conjunto de gráficos y tablas con un conjunto de indicadores y filtros para que sea más fácil de entender para
        todo el mundo
        quien visite la web app.
    </p>
    <br />
    <img class="img-poble" src="../../../assets/poble.jpg" />
    <br />
    <p class="segon-text">
        A nivel mundial, el número de personas que viven en situación de extrema pobreza disminuyó desde un 36% en
        1990 hasta un 10% en 2015. Sin embargo, el ritmo al cual se produce este cambio está disminuyendo, y la
        crisis de la COVID-19 pone en riesgo décadas de progreso en la lucha contra la pobreza. Una nueva investigación publicada
        por el Instituto Mundial de Investigaciones de Economía del Desarrollo de la Universidad de las Naciones Unidas
        advierte que las consecuencias económicas de la pandemia mundial podrían incrementar la pobreza en todo el mundo
        hasta llegar a afectar 500 millones de personas más, o lo que es lo mismo, a un 8% más de la población total
        mundial. Esta sería la primera vez que la pobreza aumente en todo el mundo en 30 años, desde 1990.
        <br /><br />
        Más de 700 millones de personas, o el 10% de la población mundial, todavía vivo en situación de extrema pobreza hoy en día
        , con dificultades para satisfacer las necesidades más básicas, como la salud, la educación y el acceso a agua y
        saneamiento, para nombrar algunas. La mayoría de las personas que viven con menos de 1,90 dólares en el día viven en
        la África subsahariana. En todo el mundo, los índices de pobreza en las áreas rurales son del 17,2%; más del triple
        de los mismos índices para las áreas urbanas.
       
        Para los cuales trabajan, su puesto de trabajo no los garantiza una vida digna. De hecho, el 8% de los trabajadores
        de todo el mundo, y sus familias, vivían en situación de extrema pobreza en 2018. Uno de cada cinco niños vive en
        situación de extrema pobreza. Garantizar la protección social de todos los niños y otros grupos vulnerables resulta
        crucial para reducir la pobreza.
    </p>
</div>