<div class="contenidor">
    <h1>Benvingut a la web app que recolleix totes les dades relacionades amb la pobresa al món!</h1>
    <p> Aquí podràs trobar taules i gràfics amb els seus propis indicadors i filtres perquè et sigui més fàcil
        visualitzar i consultar les dades sobre la pobresa que hi ha actualment al món.
    </p>
    <br/><br/>
    <h2>Perquè escollir aquesta web app per consultar les dades?</h2>
    <p>
        Som una web app molt conscienciada amb l'impacte que està tenint al nostre món la pobresa,
        per poder fer arribar aquestes dades a tothom, el nostre equip de desenvolupadors web han desenvolupat
        un conjunt de gràfics i taules amb una serie d'indicadors i filtres per a que sigui més fàcil d'entendre per
        tothom
        qui visiti la web app.
    </p>
    <br />
    <img class="img-poble" src="../../../assets/poble.jpg" />
    <br />
    <p class="segon-text">
        A nivell mundial, el nombre de persones que viuen en situació d'extrema pobresa va disminuir des d'un 36% en
        1990 fins a un 10% en 2015. No obstant això, el ritme al qual es produeix aquest canvi està disminuint, i la
        crisi de la COVID-19 posa en risc dècades de progrés en la lluita contra la pobresa. Una nova recerca publicada
        per l'Institut Mundial de Recerques d'Economia del Desenvolupament de la Universitat de les Nacions Unides
        adverteix que les conseqüències econòmiques de la pandèmia mundial podrien incrementar la pobresa a tot el món
        fins a arribar a afectar 500 milions de persones més, o cosa que és el mateix, a un 8% més de la població total
        mundial. Aquesta seria la primera vegada que la pobresa augmenti a tot el món en 30 anys, des de 1990.
        <br/><br/>
        Més de 700 milions de persones, o el 10% de la població mundial, encara viu en situació d'extrema pobresa avui
        dia, amb dificultats per a satisfer les necessitats més bàsiques, com la salut, l'educació i l'accés a aigua i
        sanejament, per nomenar algunes. La majoria de les persones que viuen amb menys de 1,90 dòlars al dia viuen a
        l'Àfrica subsahariana. A tot el món, els índexs de pobresa en les àrees rurals són del 17,2%; més del triple
        dels mateixos índexs per a les àrees urbanes.

        Per als quals treballen, el seu lloc de treball no els garanteix una vida digna. De fet, el 8% dels treballadors
        de tot el món, i les seves famílies, vivien en situació d'extrema pobresa en 2018. Un de cada cinc nens viu en
        situació d'extrema pobresa. Garantir la protecció social de tots els nens i altres grups vulnerables resulta
        crucial per a reduir la pobresa.
    </p>
</div>