h1{
    font-weight: bold;
}

h2{
    font-weight: bold;
}

.contenidor {
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
}


.img-poble {
    padding: 10px;
    margin: 10px;
    float: right;
    width: 350px;
    border-radius: 20px;
}

.segon-text{
    margin-bottom: 196px;
}