<mat-sidenav-container>
    <div class="footer">
        <div class="contenidor-footer">
            <div class="contenidor-foo">
                <h4>Direcció</h4>
                <p>Carrer de les flors 64</p>
            </div>
            <div class="contenidor-foo">
                <h4>Telèfon</h4>
                <p>+34 93 455 85 133</p>
            </div>
            <div class="contenidor-foo">
                <h4>Correu Electrònic</h4>
                <p>info@pobresamundial.com</p>
            </div>
        </div>
        <h2 class="titol-final">&copy; Pobresa Mundial </h2>
    </div>
</mat-sidenav-container>