<mat-sidenav-container>
    <div class="footer">
        <div class="contenidor-footer">
            <div class="contenidor-foo">
                <h4>Dirección</h4>
                <p>Carrer de les flors 64</p>
            </div>
            <div class="contenidor-foo">
                <h4>Teléfono</h4>
                <p>+34 93 455 85 133</p>
            </div>
            <div class="contenidor-foo">
                <h4>Correo electrónico</h4>
                <p>info@pobrezamundial.com</p>
            </div>
        </div>
        <h2 class="titol-final">&copy; Pobreza Mundial </h2>
    </div>
</mat-sidenav-container>