.color-menu{
    background-color:#00008b;
    color: white;
}

.logo{
    width: 50px;
    margin-top: 10px;
    margin-left: 50px;
}

.titol{
    margin-right: 50px;
}

.espai {
    margin-right: 50px;
}



