.color-menu{
    background-color:#00008b;
    color: white;
}

.color-menu a{
    color: white;
    text-decoration: none;
}

.logo{
    width: 50px;
    margin-top: 10px;
    margin-left: 100px;
}

.menu{
    margin-left: 57%;
}
.espai {
    margin-right: 50px;
}



